<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Email:</label>
    <input formControlName="email"/>
    <div *ngIf="isFieldInvalid('email')" class="error-message">
      Enter a valid email.
    </div>
  </div>

  <div>
    <label>Password:</label>
    <input type="password" formControlName="password"/>
    <div *ngIf="isFieldInvalid('password')" class="error-message">
      Password must be at least 8 characters, include uppercase, lowercase, number.
    </div>
  </div>

  <button type="submit" [disabled]="registerForm.invalid">Register</button>

  <button type="button" class="google-button" (click)="signInWithGoogle()">
    <img ngSrc="/assets/google-icon.svg" alt="Google Icon" class="google-icon" height="800" width="800"/>
    Continue with Google
  </button>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</form>

