<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email:</label>
    <input id="email" formControlName="email" type="email"/>
    <div *ngIf="isFieldInvalid('email')" class="error-message">
      <div *ngIf="registerForm.get('email')?.errors?.['required']">
        Please enter your email address.
      </div>
      <div *ngIf="registerForm.get('email')?.errors?.['email']">
        Enter a valid email address.
      </div>
    </div>
  </div>

  <div>
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password"/>
    <div *ngIf="isFieldInvalid('password')" class="error-message">
      <div *ngIf="registerForm.get('password')?.errors?.['required']">
        Password is required.
      </div>
      <div *ngIf="registerForm.get('password')?.errors?.['minlength']">
        Password must be at least 8 characters long.
      </div>
      <div *ngIf="registerForm.get('password')?.errors?.['pattern']">
        Password must include uppercase, lowercase, number, and special character.
      </div>
    </div>
  </div>

  <div>
    <label for="confirmPassword">Confirm Password:</label>
    <input id="confirmPassword" type="password" formControlName="confirmPassword"/>
    <div *ngIf="isFieldInvalid('confirmPassword') || registerForm.errors?.['passwordMismatch']" class="error-message">
      <div *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">
        Please confirm your password.
      </div>
      <div
        *ngIf="registerForm.errors?.['passwordMismatch'] && (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched)">
        Passwords do not match.
      </div>
    </div>
  </div>

  <button type="submit" [disabled]="registerForm.invalid">Register</button>

  <button type="button" class="google-button" (click)="signInWithGoogle()">
    <img ngSrc="/assets/google-icon.svg" alt="Google Icon" class="google-icon" height="800" width="800"/>
    Continue with Google
  </button>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</form>

