<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email:</label>
    <input id="email" formControlName="email"/>
    <div *ngIf="isFieldInvalid('email')" class="error-message">
      <div *ngIf="loginForm.get('email')?.errors?.['required']">
        Please enter your email address.
      </div>
      <div *ngIf="loginForm.get('email')?.errors?.['email']">
        Enter a valid email address.
      </div>
    </div>
  </div>

  <div>
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password"/>
    <div *ngIf="isFieldInvalid('password')" class="error-message">
      <div *ngIf="loginForm.get('password')?.errors?.['required']">
        Password is required.
      </div>
    </div>
  </div>

  <button type="submit" [disabled]="loginForm.invalid">Login</button>

  <button type="button" class="google-button" (click)="signInWithGoogle()">
    <img ngSrc="/assets/google-icon.svg" alt="Google Icon" class="google-icon" height="800" width="800"/>
    Sign in with Google
  </button>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</form>

