<div class="page-container">
  <h2 class="my-events-header">Events You Have Created</h2>

  <!-- Create New Event Button -->
  <div class="create-event-container">
    <button (click)="createNewEvent()">
      <span class="plus-circle">+</span>
      <span class="btn-text">Create new event</span>
    </button>
  </div>

  <div class="events-container" *ngIf="myEvents.length > 0; else noEvents">
    <!-- Events Cards -->
    <div *ngFor="let event of myEvents" class="event-card">
      <img
        [src]="getImageUrl(event.imageKey)"
        alt="{{ event.title }}"
        class="event-image"
      />
      <div class="event-content">
        <h3>{{ event.title }}</h3>
        <p>{{ event.description }}</p>
        <button (click)="viewEventDetails(event)">See Details</button>
      </div>
    </div>
  </div>

  <ng-template #noEvents>
    <div class="no-events">
      <p>You have not create any event yet</p>
    </div>
  </ng-template>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
