<form [formGroup]="setUsernameForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Username:</label>
    <input formControlName="username"/>
    <div *ngIf="setUsernameForm.get('username')?.invalid && setUsernameForm.get('username')?.touched">
      <div *ngIf="setUsernameForm.get('username')?.errors?.['required']">
        Username is required.
      </div>
      <div *ngIf="setUsernameForm.get('username')?.errors?.['isEmail']">
        Username must not be in email format.
      </div>
    </div>
  </div>

  <button type="submit" [disabled]="setUsernameForm.invalid">Set username</button>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</form>
